<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">HMS</title>
    <!-- STYLESHEET -->
    <!-- BOOTSTRAP CSS -->
    <link id="style" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- STYLE CSS -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/dark-style.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/skin-modes.css}" rel="stylesheet" />
    <!--- FONT-ICONS CSS -->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" />
    <!-- SIDEBAR CSS -->
    <link th:href="@{/assets/plugins/sidebar/sidebar.css}" rel="stylesheet">
    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/assets/colors/color1.css}" />
    <!-- INTERNAL SELECT2 CSS -->
    <link th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet" />
    <!-- SINGLE-PAGE CSS -->
    <link th:href="@{/assets/plugins/single-page/css/main.css}" rel="stylesheet" type="text/css">

    <!-- JAVASCRIPT -->
    <!-- JQUERY JS -->
    <script th:src="@{/assets/js/jquery.min.js}" th:defer="true"></script>
    <!-- BOOTSTRAP JS -->
    <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}" th:defer="true"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}" th:defer="true"></script>
    <!-- SIDE-MENU JS-->
    <script th:src="@{/assets/plugins/sidemenu/sidemenu.js}" th:defer="true"></script>
    <!-- SIDEBAR JS -->
    <script th:src="@{/assets/plugins/sidebar/sidebar.js}" th:defer="true"></script>
    <!-- Sticky js -->
    <script th:src="@{/assets/js/sticky.js}" th:defer="true"></script>
    <!-- CUSTOM JS -->
    <script th:src="@{/assets/js/custom.js}" th:defer="true"></script>
    <!-- INTERNAL SELECT2 JS -->
    <script th:src="@{/assets/plugins/select2/select2.full.min.js}" th:defer="true"></script>
    <script th:src="@{/assets/js/select2.js}" th:defer="true"></script>
</head>
</html>