<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--APP-SIDEBAR-->
<div class="sticky" th:fragment="sidebar">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" th:href="@{/}">
                <h5 class="text-dark mb-0 fs-20 fw-semibold">HMS</h5>
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
            <ul class="side-menu">
                <!--<li class="sub-category">
                    <h3>메인화면</h3>
                </li>-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" th:href="@{/}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">메인</span></a>
                </li>
                <!--<li class="sub-category">
                    <h3>UI Kit</h3>
                </li>-->
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">시스템관리</span><i class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li><a th:href="@{/members}" class="slide-item"> 회원관리</a></li>
                        <li><a th:href="@{/points}" class="slide-item"> 포인트관리</a></li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="#"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">게시판관리</span><i class="angle fe fe-chevron-right"></i></a>
                    <ul class="slide-menu">
                        <li><a th:href="@{/boards}" class="slide-item"> 자유게시판</a></li>
                        <li><a th:href="@{/comments}" class="slide-item"> 댓글관리</a></li>
                        <!--<li class="sub-slide">
                            <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span class="sub-side-menu__label">Avatars</span><i class="sub-angle fe fe-chevron-right"></i></a>
                            <ul class="sub-slide-menu">
                                <li><a href="avatarsquare.html" class="sub-slide-item"> Avatar-Square</a></li>
                                <li><a href="avatar-round.html" class="sub-slide-item"> Avatar-Rounded</a></li>
                                <li><a href="avatar-radius.html" class="sub-slide-item"> Avatar-Radius</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </li>
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
        </div>
    </div>
</div>
<!--/APP-SIDEBAR-->