<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header(title='HMS - 게시판관리 > 자유게시판')" />
<body class="app sidebar-mini ltr">
    <div th:replace="layout/loader::loader" />
    <!-- PAGE -->
    <div class="page">
        <div class="page-main">
            <div th:replace="layout/top::top" />
            <div th:replace="layout/sidebar::sidebar" />
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">자유게시판</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">게시판관리</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">자유게시판</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-group mb-2">
                                            <select name="" class="form-control form-select col-2" data-bs-placeholder="Select Country">
                                                <option value="userName">작성자</option>
                                                <option value="title">제목</option>
                                                <option value="contents">내용</option>
                                            </select>
                                            <input type="text" class="form-control col-3" placeholder="검색어 입력.....">
                                            <span class="btn btn-primary">검색</span>
                                        </div>
                                        <div>
                                            <a href="#" th:href="@{/boards/save}" class="btn btn-primary float-end" role="button">등록</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table text-nowrap text-md-nowrap mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>제목</th>
                                                        <th>작성자</th>
                                                        <th>등록일시</th>
                                                        <th>조회수</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="board : ${boards}">
                                                        <td th:text="${board.id}">No</td>
                                                        <td th:text="${board.title}">제목</td>
                                                        <td th:text="${board.userName}">작성자</td>
                                                        <td th:text="${#temporals.format(board.regDt, 'yyyy-MM-dd HH:mm:ss')}">등록일시</td>
                                                        <td th:text="${board.readCnt}">조회수</td>
                                                    </tr>
                                                    <tr th:if="${boards.size() == 0}">
                                                        <td colspan="5">등록 된 게시물이 없습니다.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <nav th:replace="common/paging::paging"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
        </div>
        <div th:replace="layout/footer::footer"/>
    </div>
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>
</html>