<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header" />
<body>
<div th:replace="layout/top::top"/>
<div class="container">
    <form th:action="@{/members/search}" th:object="${search}" method="post">
    <div class="mb-3">
        <label class="form-label">검색모듈</label>
        <button type="submit" class="btn btn-primary float-end">검색</button>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">아이디</span>
            <input type="text" class="form-control" th:field="*{userId}" placeholder="아이디">
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId Error</p>
            <span class="input-group-text">이름</span>
            <input type="text" class="form-control" th:field="*{userName}" placeholder="이름">
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userNamd Error</p>
        </div>
    </div>
    </form>
    <div class="mb-3">
        <div class="float-start" th:text="'회원수 : ' + ${paging.totalCount} + ' 명'"></div>
        <a href="#" th:href="@{/members/save}" class="btn btn-primary float-end" role="button">회원등록</a>
    </div>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>No</th>
                <th>권한</th>
                <th>아이디</th>
                <th>이름</th>
                <th class="col-2">등록일시</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr th:each="member : ${members}">
                <th th:text="${member.id}">1</th>
                <td th:text="${member.roleType.roleName}">관리자</td>
                <td><a href="#" th:href="@{/members/{id}/detail(id=${member.id})}" th:text="${member.userId}">아이디</a></td>
                <td th:text="${member.userName}">이름</td>
                <td th:text="${#temporals.format(member.regDt, 'yyyy-MM-dd HH:mm:ss')}">등록일시</td>
            </tr>
            <tr th:if="${members.size() == 0}">
                <td colspan="6">등록 된 회원이 없습니다.</td>
            </tr>
        </tbody>
    </table>
    <nav th:replace="common/paging::paging"/>
</div>
<div th:replace="layout/footer::footer"/>
</body>
</html>