<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header" />
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div th:replace="layout/top::top"/>
<div class="container" style="max-width: 560px;">
    <form action="#" th:action="@{/members/save}" th:object="${form}" method="post">
        <div class="mb-3">
            <label th:for="userId">ID</label>
            <input type="text" th:field="*{userId}" placeholder="아이디" class="form-control" th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId Error</p>
        </div>
        <div class="mb-3">
            <label th:for="password">PASSWORD</label>
            <input type="password" th:field="*{password}" placeholder="비밀번호" class="form-control" th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</p>
        </div>
        <div class="mb-3">
            <label th:for="userName">이름</label>
            <input type="text" th:field="*{userName}" placeholder="이름" class="form-control" th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userNamd Error</p>
        </div>
        <div class="mb-3">
            <label th:for="roleType">권한</label>
            <select th:field="*{roleType}" class="form-control" th:errorclass="field-error">
                <option value="">선택</option>
                <option th:each="roleType : ${T(zpzgzerg.hhyboard.entity.RoleType).values()}"
                        th:value="${roleType.name()}"
                        th:text="${roleType.roleName}">권한명</option>
            </select>
            <p th:if="${#fields.hasErrors('roleType')}" th:errors="*{roleType}">roleType Error</p>
        </div>
        <div class="clearfix">
            <a href="#" th:href="@{/members}" class="btn btn-secondary float-start" role="button">목록</a>
            <button type="submit" class="btn btn-primary float-end">등록</button>
        </div>
    </form>
</div>
<div th:replace="layout/footer::footer"/>
</body>
</html>
